@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #212430, #17171a);
}

ul li button::before {
  font-size: 10px;
  color: rgb(150, 150, 171) !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white !important;
}

img {
  object-fit: cover;
}

.login-container::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('../assests/login-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0.8;
}

.detail-title::after {
  position: absolute;
  width: 60vw;
  height: 100vh;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    #181818 10%,
    hsla(0, 0%, 9%, 0.98) 20%,
    hsla(0, 0%, 9%, 0.97) 25%,
    hsla(0, 0%, 9%, 0.95) 35%,
    hsla(0, 0%, 9%, 0.94) 40%,
    hsla(0, 0%, 9%, 0.92) 45%,
    hsla(0, 0%, 9%, 0.9) 50%,
    hsla(0, 0%, 9%, 0.87) 55%,
    hsla(0, 0%, 9%, 0.82) 60%,
    hsla(0, 0%, 9%, 0.75) 65%,
    hsla(0, 0%, 9%, 0.63) 70%,
    hsla(0, 0%, 9%, 0.45) 75%,
    hsla(0, 0%, 9%, 0.27) 80%,
    hsla(0, 0%, 9%, 0.15) 85%,
    hsla(0, 0%, 9%, 0.08) 90%,
    hsla(0, 0%, 9%, 0.03) 95%,
    hsla(0, 0%, 9%, 0)
  );
  z-index: -1;
  /* opacity: 0.8; */
}
